@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
      
        <h2>Row Regatta Tracker</h2>
          <p>Hier vind je de live uitslagen van uw favoriete Roeiwedstrijd</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="Event">Bekijk de Webstrijden</a></p>
      
    </div> 
